<package-def>
    <class name="Трекер" file="src/cmd/Классы/Трекер.os"/>
    <module name="ПараметрыПриложения" file="src/cmd/Модули/ПараметрыПриложения.os"/>
    <class name="Версионирование" file="src/core/Классы/Версионирование.os"/>
    <class name="Архиватор" file="src/core/Классы/Архиватор.os"/>
    <module name="МенеджерОбработчиков" file="src/core/Модули/МенеджерОбработчиков.os"/>
    <module name="Перечисления" file="src/core/Модули/Перечисления.os"/>
    <module name="Слежение" file="src/core/Модули/Слежение.os"/>
</package-def>